@using System.Web.Optimization
@section styles
{
    @Styles.Render("~/plugins/table")
}
@section scripts
{
    @Scripts.Render("~/plugins/table")
    <script type="text/javascript">
        $(function() {
            


        })
    </script>
}
<div class="container">
    <h1>Advanced toolbar</h1>
    <table id="table"
           data-toggle="table"
           data-pagination="true"
           data-search="true"
           data-advanced-search="true"
           data-id-table="advancedTable"
           data-url="../json/data1.json">
        <thead>
            <tr>
                <th data-field="id" data-sortable="true">ID</th>
                <th data-field="name" data-sortable="true">Item Name</th>
                <th data-field="price" data-sortable="true">Item Price</th>
            </tr>
        </thead>
    </table>
</div>


