@using System.Web.Optimization
@section styles
{
    @Styles.Render("~/plugins/table")
}
@section scripts
{
    @Scripts.Render("~/plugins/table")
    <script type="text/javascript">
        $(function() {
            $('#table').bootstrapTable({
                url: '/SystemManage/TenantSearch'
            });
        })
    </script>
}
<div class="container">
    <table id="table">
        <thead>
            <tr>
                <th data-field="id" data-sortable="true">ID</th>
                <th data-field="name" data-sortable="true">Item Name</th>
            </tr>
        </thead>
    </table>
</div>


